@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-standard {
    @apply border-2 rounded-md border-blackish;
  }
  .border-standard-error {
    @apply border-2 rounded-md border-brand-error;
  }
  .card-standard {
    @apply border-standard bg-brand-input;
  }
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('./fonts/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal oblique 0deg 12deg;
    font-display: swap;
}

html, body, #root {
    height: 100%;
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    color: #242424;
}
